/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* font-family: 'Open Sans', sans-serif;  font-weight: 400;*/
/* url(../img/logo.svg) */
html{
    height: 100%;
}
html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    height: 100%
}

a{
    color: #52263a;
}
em{
    font-style: normal;
    font-weight: 600;
}

.header{
    background: url(../img/backdrop_clean.jpg) center;
    background-size: cover;
    height: 90%;
    margin: 0;
    position: relative;
}

.header h1, .header p{
    margin: 0;
}

.header h1{
    background: url(../img/logo.svg) no-repeat center;
    height:127px;
    width:446px;
    margin-left: -223px;
    color: transparent;
    position: absolute;
    top: 25%;
    left: 50%;
}

.header p{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    max-width: 420px;
    margin-left: -190px;
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,.75);
    margin-top: 140px;
    padding: 0 20px;
}
.content{
    max-width: 620px;
    padding: 0 20px;
    margin: 0 auto;
}
.info p:first-child{
    margin-top: 2.5rem;
}

.info p:last-child{
    margin-bottom: 2.5rem;
}

.company{
    padding: 1.9rem 0;
    border-top: 1px solid #dcd4d8;
    position: relative;
}

.company:last-child{
    border-bottom: 1px solid #dcd4d8;;
}

.company .logo{
    height: 30px;
}


.company .slogan{
    font-size: 10px;
    text-transform: uppercase;
    line-height: 10px;
    margin: .65rem 0 0;

}

.company .action{
    margin-left: .5rem;
    float: right;
    border: 1px solid;
    border-radius: 4px;
    text-decoration: none;
    width: 130px;
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
.company .action, .company .primary:hover{
    color: #52263a;
    background: white;
}
.company .primary, .company .action:hover{
    border: 0;
    background: #52263a;
    color: white;
    font-weight: 400;
    transition: all .1s;
}

.footer{
    margin-top: 3rem;
    border-bottom: 10px solid #52263a;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .header{
        height: initial;
    }
    .header h1{
        width: 50%;
        height: initial;
        background-size: contain;
        position: initial;
        margin: 0 auto;
        padding: 1rem 0;
    }
    .header p{
        margin-top: 0;
        position: static;
        margin: 0 auto;
        font-size: 1rem;
        padding-bottom: 1rem;
    }
    .info p:first-child,.info p:last-child{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .company{
        padding: 1rem 0;
    }
    .company .logo{
        height: 20px;
    }
    .company .action {
        line-height: 30px;
        height: 30px;
        clear: right;
        margin-bottom: 10px;
    }
    .company .action:last-child{
        margin-bottom: 0
    }
}


}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 234px  no-repeat!important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}