/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* font-family: 'Open Sans', sans-serif;  font-weight: 400;*/
/* url(../img/logo.svg) */
html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    height: 100%
}
a{
    color: #52263a;
}

.header{
    background: url(../img/backdrop.jpg) center;
    background-size: cover;
    height: 90%;
    margin: 0;
}

.header h1, .header p{
    margin: 0;
    height: 0;
    opacity: 0;
}

.content{
    width: 56.8627%;
    margin: 0 auto;
}
.info p:first-child{
    margin-top: 2.5rem;
}

.info p:last-child{
    margin-bottom: 2.5rem;
}

.company{
    padding: 1.4rem 0;
    border-top: 1px solid #dcd4d8;
    position: relative;
}

.company:last-child{
    border-bottom: 1px solid #dcd4d8;;
}

.company .logo{
    float: left;
}


.company .slogan{
    float: left;
    clear: left;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 10px;
    margin: .5rem 0 0;

}

.company .action, .company .primary:hover{
    margin-left: .5rem;
    float: right;
    border: 1px solid;
    border-radius: 4px;
    color: #52263a;
    text-decoration: none;
    width: 130px;
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
.company .primary, .company .action:hover{
    background: #52263a;
    color: white;
    font-weight: 400;
    transition: all .1s;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 234px  no-repeat!important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}